Host *
{{- if eq .chezmoi.os "linux" -}}
  {{- if (or (env "SSH_CONNECTION") (env "SSH_CLIENT")) }}
  IdentityAgent $SSH_AUTH_SOCK
  {{- else }}
  IdentityAgent ~/.1password/agent.sock
  {{- end }}
{{- end }}
